/* ******* Global Settings ****** */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: #000000;
  opacity: 0.9;
}
h1,
h2,
h4,
h5 {
  font-family: Helvetica;
  color: seashell;
  font-weight: bold;
  margin: 10px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
.mainContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.subContainer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
/* ****** Navigation Bar ******** */
nav {
  display: flex;
  background-color: #000000;
  height: 70px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 1;
}

.logoImg img {
  height: 50px;
  margin-left: 10px;
}
.navBar {
  display: inline-flex;
  flex-basis: 500px;
  justify-content: space-between;
  margin-right: 15px;
  flex-wrap: wrap;
}
.navBar a {
  color: seashell;
}
.navBar a:hover {
  color: rgb(82, 82, 82);
  text-decoration: none;
}
/* ****** Main Banner Section ******** */

.bgImage {
  display: flex;
  background-image: url(Resources/Images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}
.mission {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.mission span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #000000;
  align-self: center;
}
/* ****** Tea of the Month ******** */
.teaTitles {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teaTitles h2,
h4 {
  color: seashell;
}
.teaImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: seashell;
}
.teaImages span {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}
.teaImages img {
  height: 200px;
  width: 300px;
}
/* ****** Locations ******** */
.locations {
  margin-top: 35px;
}
.locationImg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/Resources/Images/locationsBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.addresses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -50px;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding: 10px;
  border-radius: 25px;
  width: 300px;
  background-color: #000000;
  opacity: 0.8;
}
.address p {
  line-height: 0.8;
}
/* ****** Contact Section ******** */
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  margin-top: 40px;
}
/* ****** Media Queries Section ******** */

@media (max-width: 600px) {
  .logoImg img {
    display: none;
  }

  .teaTitles h2,
  h4 {
    font-size: 18px;
  }

  .addresses {
    margin-top: 0;
  }

  .locationImg h2 {
    font-size: 16px;
  }
  .address {
    font-size: 15px;
  }

  .address p {
    line-height: 0.1;
  }
  .mission h2,
  h4 {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
}
